body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#gallery a {
    display: block;
    text-align: center;
}

#gallery img {
    width: 100%;
    height: auto;
}
nav ul li a {
    font-size: 22px;}