<IfModule mod_expires.c> ExpiresActive Off </IfModule>

<IfModule mod_headers.c>
  # Általános cache-tiltás Header set Cache-Control "no-cache, no-store,
  must-revalidate" Header set Pragma "no-cache" Header set Expires 0 # ETag
  letiltása (csökkenti a cache-hit esélyét) Header unset ETag FileETag None
</IfModule>

# Véletlenszerű query string hozzáfűzése a fájlokhoz (cache buster)
RewriteEngine On RewriteCond %{REQUEST_FILENAME} -f RewriteRule ^(.*)$
$1?v=%{TIME} [QSA,L]
